@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #444444;
  background-color: #DAF7A6;
}

html{
  scroll-behavior: smooth;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products .header {
    margin-top: 100px;
    margin-bottom: 30px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}
.row{
    justify-content: space-between;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    width: 250px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 80%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url("images/cessna_select.png") no-repeat center;
    background-size: cover;
		transition: all 0.3s;

}

.section-products #product-2 .part-1::before {
    background: url("images/airbus_select.png") no-repeat center;
    background-size: cover;

}

.section-products #product-3 .part-1::before {
    background: url("images/fighter_select.png") no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url("images/helicopter_select.png") no-repeat center;
    background-size: cover;
}

.section-products #product-5 .part-1::before {
    background: url("images/acrobatic_select.png") no-repeat center;
    background-size: cover;
}

.section-products .single-product .part-1 .unlock,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
    text-align: center;
}

.section-products .single-product .part-2 h4 {
    text-align: center;
    font-size: 1rem;
}


.navbar{
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 999;
  transition: .3s linear;

}

.navbar .inner-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 65px;
  margin-right: 65px;
}

.logo{
  width: 32px;
  height: 32px;
  background-image: url(../css/flight.png);
  background-size: contain;
  justify-content: flex-start;
}
.full-width {
    max-width: 90%;
}

.menu-toggler{
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}

.menu-toggler span{
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
  transition: .3s linear;
}

.navbar-menu a{
  margin-left: 10px;
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 4px;
  transition: .3s linear;
}

.tableStyle {
  margin: auto;
  width: 100%;
}

@media screen and (max-width:700px) {
  .menu-toggle-btn{
    display: block !important;
  }

  .navigation-menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #172b4d;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
  }

  .navigation-menu::before{
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #172b4d;
    position: absolute;
    top: -10px;
    right: 10px;
  }

  .navigation-menu a{
    display: block;
    margin: 10px 0;
  }

  .navigation-menu.active{
    display: block;
  }
}

.home{
  color: #ff6b6b;
}

.game{
  color: #A24D89;
}

.ranking{
  color: #0abde3;
}

.shop{
  color: #feca57;
}

.team{
  color: #5f27cd;
}

.logout{
  color: #1dd1a1;
}

.logo{
  background-image: url(../css/flight.png);
}

.navbar-menu a{
  margin-left: 10px;
  color: #2f3640;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 4px;
  transition: .3s linear;
}


.navbar-menu a:hover{
  background: #DAF7A6;
  transform: scale(1.1);
}

.navbar-menu i{
  margin-right: 8px;
  font-size: 16px;
}

.menu-toggler span{
  background-color: #111;
}
.sticky{
  background-color: #fff;
  padding: 18px 0;
}

.sticky .logo{
  background-image: url(../css/flight.png);
}

.sticky .navbar-menu a{
  margin-left: 10px;
  color: #2f3640;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 4px;
  transition: .3s linear;
}

.sticky .navbar-menu a:hover{
  background: #DAF7A6;
  transform: scale(1.1);
}

.sticky .navbar-menu i{
  margin-right: 8px;
  font-size: 16px;
}

.sticky .menu-toggler span{
  background-color: #111;
}